<container class="row">
  <div class="col-md-6" id="mainSection">
    <h3 class="row" id="">burgerville</h3>
  

  <div class="col-md-6" class="media" id="media1">
    <img src="/assets/images/bet.jpg" alt="burger"></img>

  </div>
  <div class="col-md-6">
    <form class="create-fo rm">

      <div class="form-group">
        <label for="ca">make your burger:</label>
        <input type="text" id="burgerid" name="name">
      </div>

      <button id="add" type="submit">Add burger</button>
    </form>

  </div>
  </div>
  <hr />
  </div>
</container>